extends layout

block content
    include templates/slider
    .fh5co-about.animate-box
        .col-md-6.col-md-offset-3.text-center.fh5co-heading
            h2 Company History
            p
                | Screw-IT was established in 2016 by Mr. Jovani Warguez and Ms Neryl Empenio.
                | It started in troubleshooting 2-3 PCs until it grow and become a habit.
                | With their passion for technology, they enhance their skill set and
                | techniques of solving technology issues.
        .container
            .col-md-12
                figure
                    img.img-responsive(src="/images/about/history.png", alt="Free HTML5 Template")
    .fh5co-team.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 The Team
                    p
                        | Computer Engineers from Polytechnic University of the Philippines, Manila
                .col-md-10.col-md-offset-1.text-center.fh5co-heading
                    .col-md-6.fh5co-staff
                        .team-avatar(style="background-image: url('/images/about/team_jovani_warguez.png');")
                        h3 Jovani Warguez
                        h4 Co-Founder, CEO
                        ul.fh5co-social
                            li
                                a(href="http://jovaniwarguez.wordpress.com/", target="_blank")
                                    i.icon-wordpress &nbsp;
                            li
                                a(href="https://facebook.com/jovani.cadornawarguez", target="_blank")
                                    i.icon-facebook &nbsp;
                            li
                                a(href="http://www.twitter.com/jovanidash21", target="_blank")
                                    i.icon-twitter &nbsp;
                            li
                                a(href="https://instagram.com/jovanidash21", target="_blank")
                                    i.icon-instagram &nbsp;
                            li
                                a(href="https://plus.google.com/u/0/115410002894597690793", target="_blank")
                                    i.icon-google-plus &nbsp;
                            li
                                a(href="https://www.linkedin.com/in/jovani-warguez-827a8a11b", target="_blank")
                                    i.icon-linkedin &nbsp;
                            li
                                a(href="https://www.youtube.com/channel/UCNiVxhbJ6Ku9keIjkQX3RRQ", target="_blank")
                                    i.icon-youtube-play &nbsp;
                            li
                                a(href="https://github.com/jovanidash21", target="_blank")
                                    i.icon-github &nbsp;
                            li
                                a(href="http://codepen.io/jovanidash21/", target="_blank")
                                    i.icon-codepen
                    .col-md-6.fh5co-staff
                        .team-avatar(style="background-image: url('/images/about/team_neryl_empenio.png');")
                        h3 Neryl Empenio
                        h4 Co-Founder, CTO
                        ul.fh5co-social
                            li
                                a(href="https://facebook.com/profile.php?id=100001183719985", target="_blank")
                                    i.icon-facebook &nbsp;
                            li
                                a(href="http://www.twitter.com/rrazamanaz", target="_blank")
                                    i.icon-twitter &nbsp;
                            li
                                a(href="https://instagram.com/rrazamanaz", target="_blank")
                                    i.icon-instagram &nbsp;
                            li
                                a(href="https://plus.google.com/u/0/115410002894597690793", target="_blank")
                                    i.icon-google-plus &nbsp;
                            li
                                a(href="https://www.linkedin.com/in/neryl-anne-emperio-b26117118", target="_blank")
                                    i.icon-linkedin &nbsp;
                            li
                                a(href="https://www.youtube.com/channel/UCXymaLlMuqpU4l2yLx6WtWQ", target="_blank")
                                    i.icon-youtube-play &nbsp;
                            li
                                a(href="https://github.com/nerylempenio/", target="_blank")
                                    i.icon-github &nbsp;
    include templates/call-to-action
    .fh5co-services
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
                    h2 Services
                    p
                        | This is the overview of our expertise
                include templates/services-list