extends layout

block content
    include templates/slider
    .fh5co-about.animate-box
        .col-md-6.col-md-offset-3.text-center.fh5co-heading
            h2 Company History
            p
                | Etiam suscipit risus sed est interdum, ut lacinia massa tincidunt.
                | Vestibulum dapibus vestibulum vehicula.
                | Curabitur facilisis, lectus sed euismod rhoncus, diam justo lobortis mauris,
                | ac egestas diam sem eget erat. Nunc at felis a est ornare condimentum.
                | Proin euismod egestas purus, et posuere massa hendrerit sed.
        .container
            .col-md-12
                figure
                    img.img-responsive(src="/images/image_1.jpg", alt="Free HTML5 Template")
            .col-md-8.col-md-push-4
                h2 A Startup Company
                p
                    | Quisque sed risus mollis, fermentum metus et, hendrerit purus.
                    | Maecenas elementum nulla vitae ligula volutpat, sed ornare sem rutrum.
                    | Ut cursus turpis et ligula pulvinar, vel dictum felis iaculis.
                    | Proin id gravida mauris.
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href="#")
                        | Learn more
                        i.icon-arrow-right
    .fh5co-team.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 The Team
                    p
                        | Nulla vitae mi nisi. Proin nunc ipsum,
                        | congue vitae molestie et, egestas a nisl.
                .col-md-4.fh5co-staff
                    img.img-responsive(src="/images/person3.jpg", alt="Free HTML5 Bootstrap Template")
                    h3 Jovani Warguez
                    h4 Co-Founder, CEO
                    p
                        | Etiam suscipit risus sed est interdum, ut lacinia massa tincidunt.
                        | Vestibulum dapibus vestibulum vehicula.
                    ul.fh5co-social
                        li
                            a(href="#")
                                i.icon-google
                        li
                            a(href="#")
                                i.icon-dribbble
                        li
                            a(href="#")
                                i.icon-twitter
                        li
                            a(href="#")
                                i.icon-facebook
                        li
                            a(href="#")
                                i.icon-instagram
                .col-md-4.fh5co-staff
                    img.img-responsive(src="/images/person2.jpg", alt="Free HTML5 Bootstrap Template")
                    h3 Neryl Empenio
                    h4 Co-Founder, CTO
                    p
                        | Vivamus vel tincidunt massa. Quisque sed risus mollis,
                        | fermentum metus et, hendrerit purus.
                        | Maecenas elementum nulla vitae ligula volutpat,
                        | sed ornare sem rutrum.
                    ul.fh5co-social
                        li
                            a(href="#")
                                i.icon-google
                        li
                            a(href="#")
                                i.icon-dribbble
                        li
                            a(href="#")
                                i.icon-twitter
                        li
                            a(href="#")
                                i.icon-facebook
                        li
                            a(href="#")
                                i.icon-instagram
                .col-md-4.fh5co-staff
                    img.img-responsive(src="/images/person4.jpg", alt="Free HTML5 Bootstrap Template")
                    h3 Yanna Kuzuki
                    h4 Co-Founder, Principal
                    p
                        | Praesent aliquet, velit at tristique convallis,
                        | velit dui laoreet diam, non scelerisque ipsum lacus consectetur mi.
                    ul.fh5co-social
                        li
                            a(href="#")
                                i.icon-google
                        li
                            a(href="#")
                                i.icon-dribbble
                        li
                            a(href="#")
                                i.icon-twitter
                        li
                            a(href="#")
                                i.icon-facebook
                        li
                            a(href="#")
                                i.icon-instagram
    .fh5co-services
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
                    h2 Our pleasure to serve you
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Mauris vitae elit tristique, egestas augue et, auctor nisi.
                        | Praesent eleifend interdum sem at sollicitudin.
                .col-md-4.text-center.item-block.animate-box
                    span.icon
                        img.img-responsive(src="/images/board.svg", alt="Free HTML5 Templates")
                    h3 Strategy
                    p
                        | Donec luctus eros eu arcu molestie, non dignissim dui porta.
                        | Morbi tempus lorem a viverra aliquet.
                        | Etiam ultrices odio at lacus blandit, ac porta lorem sollicitudin.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
                .col-md-4.text-center.item-block.animate-box
                    span.icon
                        img.img-responsive(src="/images/magnet.svg", alt="Free HTML5 Templates")
                    h3 Explore
                    p
                        | Donec luctus eros eu arcu molestie, non dignissim dui porta.
                        | Morbi tempus lorem a viverra aliquet.
                        | Etiam ultrices odio at lacus blandit, ac porta lorem sollicitudin.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
                .col-md-4.text-center.item-block.animate-box
                    span.icon
                        img.img-responsive(src="/images/camera.svg", alt="Free HTML5 Templates")
                    h3 Expertise
                    p
                        | Donec luctus eros eu arcu molestie, non dignissim dui porta.
                        | Morbi tempus lorem a viverra aliquet.
                        | Etiam ultrices odio at lacus blandit, ac porta lorem sollicitudin.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
    .fh5co-cta(style="background-image: url(/images/image_3.jpg);")
        .overlay
        .container
            .col-md-12.text-center.animate-box
                h3 We Try To Update The Site Everyday
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href="#")
                        | Get started now!
                        i.icon-arrow-right
    include templates/call-to-action