extends layout

block content
    // include templates/slider
    .fh5co-contact.animate-box
        .container
            .row
                .col-md-3
                    h3 Contact Info.
                    ul.contact-info
                        li
                            i.icon-map
                            | 198 West 21th Street, Suite 721 New York NY 10016
                        li
                            i.icon-phone
                            | + 1235 2355 98
                        li
                            i.icon-envelope
                            a(href="#") info@yoursite.com
                        li
                            i.icon-globe
                            a(href="#") www.yoursite.com
                .col-md-8.col-md-push-1.col-sm-12.col-sm-push-0.col-xs-12.col-xs-push-0
                    .row
                        form(action="/contact/send", method="post")
                            .col-md-6
                                .form-group
                                    input.form-control(name="name", value="Jovani", placeholder="Name", type="text", required="")
                            .col-md-6
                                .form-group
                                    input.form-control(name="email", value="jov@example.com", placeholder="Email", type="text", required="")
                            .col-md-12
                                .form-group
                                    textarea.form-control(name="message", cols="30", rows="7", placeholder="Message", required="")
                            .col-md-12
                                .form-group
                                    input.btn.btn-primary(name="submit", value="Send Message", type="submit")
    #map.animate-box(data-animate-effect="fadeIn")
