extends layout

block content
    include templates/slider
    #fh5co-why-us.animate-box
        .container
            .row
                .col-md-8.col-md-offset-2.text-center.fh5co-heading
                    h1 Professional tech repair service you can trust
                    p
                        | Screw-IT is an Information Technology solution and service
                        | provider company of any computer and related peripheral.
                include templates/services-list
    .fh5co-section-with-image
        img.img-responsive(src="/images/image_1.jpg", alt="")
        .fh5co-box.animate-box
            h2 Screw-IT
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae elit tristique, egestas augue et, auctor nisi.
            p
                a.btn.btn-primary.btn-outline.with-arrow(href="/about")
                    | Read More
                    i.icon-arrow-right
    #fh5co-testimonial.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Happy Clients
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Mauris vitae elit tristique, egestas augue et, auctor nisi.
                        | Praesent eleifend interdum sem at sollicitudin.
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "Nullam eleifend risus orci, non molestie tellus pellentesque non.
                            | Praesent aliquet, velit at tristique convallis, velit dui laoreet
                            | diam, non scelerisque ipsum lacus consectetur mi."
                        p
                            span.fh5co-author
                                cite Jason Davidson
                            i.icon.twitter-color.icon-twitter.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "Proin euismod egestas purus, et posuere massa hendrerit sed.
                            | Cras placerat turpis ac justo laoreet condimentum.
                            | Mauris viverra at est et tincidunt."
                        p
                            span.fh5co-author
                                cite Kyle Smith
                            i.icon.googleplus-color.icon-google-plus.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | Ut cursus turpis et ligula pulvinar, vel dictum felis iaculis.
                            | Proin id gravida mauris. Quisque ac lacus ante.
                            | Sed maximus ligula non nisl fringilla, id vulputate ligula hendrerit.
                        p
                            span.fh5co-author
                                cite Rick Cook
                            i.icon.facebook-color.icon-facebook.pull-right
    #fh5co-grid-products.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Awesome Products
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Mauris vitae elit tristique, egestas augue et, auctor nisi.
                        | Praesent eleifend interdum sem at sollicitudin.
        .col-1
            a.item-grid.one(href="#", style="background-image: url(/images/image_4.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/magnet.svg", alt="Free HTML5 Templates")
                        h3.title Geographical App
                        h5.category PC Repair
            a.item-grid.three(href="#", style="background-image: url(images/image_3.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/compass.svg", alt='Free HTML5 Templates')
                        h3.title Communication App
                        h5.category PC Repair
        .col-2
            a.item-grid.two(href="#", style="background-image: url(images/image_2.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/waterdrop.svg", alt="Free HTML5 Templates")
                        h3.title Golf Club Tracker
                        h5.category PC Repair
    #fh5co-blog.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2
                        | Latest
                        em  from
                        |  Blog
                    p
                        | Mauris dignissim ligula vitae magna accumsan, et rutrum lorem aliquam.
                        | Ut vestibulum metus sit amet est vestibulum, quis consectetur erat fermentum.
                        | Maecenas mollis felis nec fermentum facilisis.
        .container
            .row
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_1.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 We Create Awesome Free Templates
                            span.fh5co-date June 8, 2016
                            p
                                | Maecenas eget tempus leo, nec dictum magna.
                                | Aliquam tincidunt pellentesque libero.
                                | Donec pulvinar justo vitae justo dictum,
                                | vitae tincidunt lectus tristique.
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_2.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 Handcrafted Using CSS3 &amp; HTML5
                            span.fh5co-date June 8, 2016
                            p
                                | Ut cursus turpis et ligula pulvinar, vel dictum felis iaculis.
                                | Proin id gravida mauris. Quisque ac lacus ante.
                                | Sed maximus ligula non nisl fringilla, id vulputate ligula hendrerit.
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_3.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 We Try To Update The Site Everyday
                            span.fh5co-date June 8, 2016
                            p
                                | Maecenas luctus augue massa, semper hendrerit diam ornare sed.
                                | Curabitur enim urna, feugiat nec neque consectetur, suscipit mollis orci.
                                | Maecenas eget tempus leo, nec dictum magna.
                .col-md-12.text-center
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | View More Posts
                            i.icon-arrow-right
    .fh5co-cta(style='background-image: url(/images/image_3.jpg);')
        .overlay
        .container
            .col-md-12.text-center.animate-box
                h3 We Try To Update The Site Everyday
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                        | Get started now!
                        i.icon-arrow-right