extends layout

block content
    aside#fh5co-hero.js-fullheight
        .flexslider.js-fullheight
            ul.slides
                li(style="background-image: url(/images/slider/index/slide_1.jpg);")
                    .overlay-gradient
                    .container
                        .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
                            .slider-text-inner
                                h2 Start Your Startup With This Template
                                p
                                    a.btn.btn-primary.btn-lg(href="#") Get started
                li(style="background-image: url(/images/slider/index/slide_2.jpg);")
                    .container
                        .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
                            .slider-text-inner
                                h2 Take Your Business To The Next Level
                                p
                                    a.btn.btn-primary.btn-lg(href="#") Get started
                li(style="background-image: url(/images/slider/index/slide_3.jpg);")
                    .container
                        .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
                            .slider-text-inner
                                h2 We Think Different That Others Can&apos;t
                                p
                                    a.btn.btn-primary.btn-lg(href="#") Get started
    #fh5co-why-us.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Why Choose Us
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .col-md-4.text-center.item-block
                    span.icon
                        img.img-responsive(src="/images/board.svg", alt="Free HTML5 Templates")
                    h3 Strategy
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
                .col-md-4.text-center.item-block
                    span.icon
                        img.img-responsive(src="/images/compass.svg", alt="Free HTML5 Templates")
                    h3 Explore
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
                .col-md-4.text-center.item-block
                    span.icon
                        img.img-responsive(src="/images/camera.svg", alt="Free HTML5 Templates")
                    h3 Expertise
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | Learn more
                            i.icon-arrow-right
    .fh5co-section-with-image
        img.img-responsive(src="/images/image_1.jpg", alt="")
        .fh5co-box.animate-box
            h2 Forward Thinking
            p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
            p
                a.btn.btn-primary.btn-outline.with-arrow(href="#")
                    | Get started
                    i.icon-arrow-right
    #fh5co-testimonial.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Happy Clients
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of."
                        p
                            span.fh5co-author
                                cite Jason Davidson
                            i.icon.twitter-color.icon-twitter.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. She had a last view back on the skyline of her hometown Bookmarksgrove, the headline of."
                        p
                            span.fh5co-author
                                cite Kyle Smith
                            i.icon.googleplus-color.icon-google-plus.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn&rsquo;t listen. S&#x9;he had a last view back on the skyline of her hometown Bookmarksgrove."
                        p
                            span.fh5co-author
                                cite Rick Cook
                            i.icon.facebook-color.icon-facebook.pull-right
    #fh5co-grid-products.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Awesome Products
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-1
            a.item-grid.one(href="#", style="background-image: url(/images/image_4.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/magnet.svg", alt="Free HTML5 Templates")
                        h3.title Geographical App
                        h5.category Web Application
            a.item-grid.three(href="#", style="background-image: url(images/image_3.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/compass.svg", alt='Free HTML5 Templates')
                        h3.title Communication App
                        h5.category Web Application
        .col-2
            a.item-grid.two(href="#", style="background-image: url(images/image_2.jpg);")
                .v-align
                    .v-align-middle
                        span.icon
                            img.img-responsive(src="images/waterdrop.svg", alt="Free HTML5 Templates")
                        h3.title Golf Club Tracker
                        h5.category Web Application
    #fh5co-blog.animate-box
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2
                        | Latest
                        em  from
                        |  Blog
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .container
            .row
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_1.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 We Create Awesome Free Templates
                            span.fh5co-date June 8, 2016
                            p
                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_2.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 Handcrafted Using CSS3 &amp; HTML5
                            span.fh5co-date June 8, 2016
                            p
                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .col-md-4
                    a.fh5co-entry(href="#")
                        figure
                            img.img-responsive(src="/images/image_3.jpg", alt="Free Website Template, Free HTML5 Bootstrap Template")
                        .fh5co-copy
                            h3 We Try To Update The Site Everyday
                            span.fh5co-date June 8, 2016
                            p
                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .col-md-12.text-center
                    p
                        a.btn.btn-primary.btn-outline.with-arrow(href="#")
                            | View More Posts
                            i.icon-arrow-right
    .fh5co-cta(style='background-image: url(/images/image_3.jpg);')
        .overlay
            | &#x9;&#x9;
        .container
            .col-md-12.text-center.animate-box
                h3 We Try To Update The Site Everyday
                | &#x9;&#x9;&#x9;&#x9;
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href='#')
                        | Get started now!
                        i.icon-arrow-right