extends layout

block content
    include templates/slider
    #fh5co-why-us.animate-box
        .container
            .row
                .col-md-8.col-md-offset-2.text-center.fh5co-heading
                    h1 Professional tech repair service you can trust
                    p
                        | Screw-IT is an Information Technology solution and service
                        | provider company of any computer and related peripheral.
                include templates/services-list
    .fh5co-section-with-image
        img.img-responsive(src="/images/image_1.jpg", alt="")
        .fh5co-box.animate-box
            h2 Screw-IT
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae elit tristique, egestas augue et, auctor nisi.
            p
                a.btn.btn-primary.btn-outline.with-arrow(href="/about")
                    | Read More
                    i.icon-arrow-right
    #fh5co-testimonial
        .container.animate-box
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading
                    h2 Happy Clients
                    p
                        | What Our Customers Have To Say About Our Services
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "Nullam eleifend risus orci, non molestie tellus pellentesque non.
                            | Praesent aliquet, velit at tristique convallis, velit dui laoreet
                            | diam, non scelerisque ipsum lacus consectetur mi."
                        p
                            span.fh5co-author
                                cite Jason Davidson
                            i.icon.facebook-color.icon-facebook.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | "Proin euismod egestas purus, et posuere massa hendrerit sed.
                            | Cras placerat turpis ac justo laoreet condimentum.
                            | Mauris viverra at est et tincidunt."
                        p
                            span.fh5co-author
                                cite Kyle Smith
                            i.icon.googleplus-color.icon-google-plus.pull-right
                .col-md-4.text-center.item-block
                    blockquote
                        p
                            | Ut cursus turpis et ligula pulvinar, vel dictum felis iaculis.
                            | Proin id gravida mauris. Quisque ac lacus ante.
                            | Sed maximus ligula non nisl fringilla, id vulputate ligula hendrerit.
                        p
                            span.fh5co-author
                                cite Rick Cook
                            i.icon.twitter-color.icon-twitter.pull-right
    include templates/call-to-action