doctype html
html
  head
    meta(charset="utf-")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/animate.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/icomoon.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/flexslider.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/custom.css")
  body
    #fh5co-page
      include templates/nav
      include templates/slider
      block content
      include templates/footer
    script(type="text/javascript", src="/javascripts/modernizr-2.6.2.min.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/jquery.easing.1.3.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/jquery.waypoints.min.js")
    script(type="text/javascript", src="/javascripts/jquery.flexslider-min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    script(type="text/javascript", src="/javascripts/custom.js")
