extends layout

block content
  include templates/slider
  .fh5co-services
    .container
      .row
        .col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
          h2 It's our pleasure to serve you
          p
            | Here at Screw-IT, we are committed in bringing you a
            | consistently high level of technology solutions.
        include templates/services-list
  include templates/call-to-action