extends layout

block content
    include templates/slider
    .fh5co-services
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
                    h2 Our pleasure to serve you
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Mauris vitae elit tristique, egestas augue et, auctor nisi.
                        | Praesent eleifend interdum sem at sollicitudin.
                include templates/services-list
    .fh5co-cta(style="background-image: url(/images/image_3.jpg);")
        .overlay
        .container
            .col-md-12.text-center.animate-box
                h3 We Try To Update The Site Everyday
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href="#")
                        | Get started now!
                        i.icon-arrow-right

