extends layout

block content
    .fh5co-services
        .container
            .row
                .col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
                    h2 Our pleasure to serve you
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        | Mauris vitae elit tristique, egestas augue et, auctor nisi.
                        | Praesent eleifend interdum sem at sollicitudin.
                each serviceData, i in servicesData
                    .col-md-4.text-center.item-block.animate-box
                        span.icon
                            img.img-responsive(src="#{serviceData.featuredImage}", alt="Free HTML5 Templates")
                        h3= serviceData.name
                        p= serviceData.description
                        p
                            a.btn.btn-primary.btn-outline.with-arrow(href="#")
                                | Learn more
                                i.icon-arrow-right
    .fh5co-cta(style="background-image: url(/images/image_3.jpg);")
        .overlay
        .container
            .col-md-12.text-center.animate-box
                h3 We Try To Update The Site Everyday
                p
                    a.btn.btn-primary.btn-outline.with-arrow(href="#")
                        | Get started now!
                        i.icon-arrow-right

