.fh5co-cta(style="background-image: url(/images/call_to_action.png);")
  .overlay
  .container
    .col-md-12.text-center.animate-box
      h2 Call The Experts Now!
        span &nbsp;123-4567
      p
        a.btn.btn-primary.btn-lg(href="/contact") Contact Us
