footer#fh5co-footer(role="contentinfo")
    .container
        .col-md-12.text-center
            h3 Get in touch
            ul.fh5co-social
                li
                    a(href="https://plus.google.com/u/0/108115138244667221534", target="_blank")
                        i.icon-google-plus &nbsp;
                li
                    a(href="https://www.youtube.com/channel/UCRITF0l_GKxfyUdz8trQu0A", target="_blank")
                        i.icon-youtube-play &nbsp;
                li
                    a(href="https://github.com/jovanidash21/screw-it", target="_blank")
                        i.icon-github
        .col-md-12.text-center
            a(href="/")
                img(src="/images/footer_logo.png")
        .col-md-12.fh5co-copyright.text-center
            p &copy; 2016 Screw-IT. All Rights Reserved.
