header#fh5co-header(role="banner")
    .container
        .header-inner
            a(href="/")
                img(src="/images/navbar_logo.png", alt="logo")
            nav(role="navigation")
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/services") Services
                    li
                        a(href="/about") About
                    li.cta
                        a(href="/contact") Contact Us