header#fh5co-header(role="banner")
    .container
        .header-inner
            h1
                a(href="#")
                | Bold
                span .
            nav(role='navigation')
                ul
                    li
                        a(href='#') Products
                    li
                        a(href='#') Service
                    li
                        a(href='#') About
                    li
                        a(href='#') Contact