header#fh5co-header(role="banner")
    .container
        .header-inner
            h1
                a(href="#")
                | Bold
                span .
            nav(role="navigation")
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/products") Products
                    li
                        a(href="/services") Services
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact