aside#fh5co-hero.js-fullheight
    .flexslider.js-fullheight
        ul.slides
            each sliderPage, i in sliderData
                li(style="background-image: url(#{sliderPage.backgroundImageURL});")
                    .overlay-gradient
                    .container
                        .col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
                            .slider-text-inner
                                h2= sliderPage.headerMessage
                                p
                                    a.btn.btn-primary.btn-lg(href="#")= sliderPage.buttonMessage