#fh5co-testimonial
    .container.animate-box
        .row
            .col-md-6.col-md-offset-3.text-center.fh5co-heading
                h2 Happy Clients
                p
                    | What Our Customers Have To Say About Our Service
            .col-md-4.text-center.item-block
                blockquote
                    p
                        | "Screw-IT offers expert knowledge in defining
                        | problems and finding the right solutions."
                    p
                        span.fh5co-author
                            cite Archimedes Agatha
                        i.icon.facebook-color.icon-facebook.pull-right
            .col-md-4.text-center.item-block
                blockquote
                    p
                        | "Screw-IT is at it's finest in giving professional
                        | computer service repair. Their excellent."
                    p
                        span.fh5co-author
                            cite Kleopatra Kleopatros
                        i.icon.googleplus-color.icon-google-plus.pull-right
            .col-md-4.text-center.item-block
                blockquote
                    p
                        | "Screw-IT is knowledgeable in troubleshooting and
                        | I would highly recommend them."
                    p
                        span.fh5co-author
                            cite Zeno Zephyros
                        i.icon.twitter-color.icon-twitter.pull-right