#fh5co-header
{
    margin: 30px 0 0 0;
}
#fh5co-header nav ul li a
{
    color: rgb(0, 211, 7);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
#fh5co-header nav ul li.cta  a
{
    color: rgb(255, 255, 255);
}
#fh5co-header nav ul li.cta a:hover
{
    color: rgb(0, 211, 7);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2,
#fh5co-hero .flexslider .slider-text > .slider-text-inner h3
{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2
{
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h3
{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-transform: lowercase;
}
.btn-primary
{
    background-color: rgb(0, 144, 14) !important;
    border-color: rgb(0, 144, 14) !important;
    color: rgb(255, 255, 255) !important;
}
#fh5co-why-us .item-block h3,
.fh5co-services .item-block h3
{
    margin: 25px 0;
}
.fh5co-heading h2
{
    color: rgb(0, 144, 14);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width: 768px)
{
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h3
    {
        font-size: 30px;
    }
}